/* Variables */
:root {
  --pink: #da4f7c;
  --white: #ffffff;
  --black: #000000;
}

/* Reset default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Remove list styles (bullet points) */
ul,
ol {
  list-style: none;
}

/* Remove hyperlink decoration */
a {
  text-decoration: none;
}

/* Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset box-sizing to border-box */
* {
  box-sizing: border-box;
}

body {
  /* max-width: 1440px; */
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

textarea,
input,
select {
  outline: none;
}

/* Common */

h2 {
  color: var(--pink);
  font-size: 40px;
  text-align: center;
}

p {
  color: var(--black);
  font-size: 20px;
}

.btn {
  margin-top: 16px;
  padding: 16px 32px;
  border-radius: 32px;
  border: none;
  background-color: var(--pink);
  color: var(--white);
  font-size: 20px;
}

.btn:hover {
  box-shadow: 0px 6px 13px -5px var(--pink), 5px 5px 5px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

/* Header section */

header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 124px;
  position: relative;
}

.nav-logo-container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 12px;
}

.nav-logo-container:hover {
  transform: scale(1.01);
}

.nav-logo {
  height: 40px;
}

nav ul {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.nav-signature {
  height: 48px;
}
nav ul li a {
  transition: all 0.4s ease-in-out 0s;
}

nav ul li a:hover {
  color: var(--pink);
  transition: all 0.3s ease-out;
}

.header-logo {
  cursor: pointer;
}

/* Hero section */

#hero {
  position: relative;
}

.hero__top {
  display: flex;
  justify-items: space-between;
  align-items: center;
  padding: 0 124px;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: start;
  padding-right: 20px;
}

.hero__left h2 span {
  font-weight: 600;
}

#hero h1 {
  font-size: 64px;
  color: var(--pink);
  font-family: "Raleway", sans-serif;
}

#hero h2 {
  font-size: 36px;
  color: var(--pink);
  font-family: "Raleway", sans-serif;
}

.hero__flower {
  position: absolute;
  z-index: -10;
}

.hero__banner {
  background-color: var(--pink);
  display: flex;
  gap: 68px;
  color: var(--white);
  align-items: center;
  text-align: center;
  padding: 18px;
  padding-left: calc(((100vw - 1440px) / 2 + 124px));
  position: absolute;
  bottom: 5px;
  width: 100%;
  z-index: -12;
}

.hero__banner__el {
  padding-right: 68px;
  border-right: 1px solid var(--white);
}

.hero__banner__el:last-child {
  border-right: none;
}

.hero__banner h3 {
  font-size: 56px;
}

.hero__banner p {
  color: var(--white);
}

/* Servicii section */

#servicii {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 88px;
  height: 790px;
}

.servicii__subtitle {
  text-align: center;
  padding: 40px 295px;
}

.swiper {
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  width: 1192px;
}

.first-item {
  background-color: var(--white) !important;
  box-shadow: none !important;
  transition: none !important;
}

.swiper-slide {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 2px 8px -5px var(--pink), 2px 2px 2px 2px rgba(0, 0, 0, 0);
  width: 378px !important;
  height: 376px;
  opacity: 0.5;
  transition: opacity 0.4s ease-in, margin-top 0.4s ease-in;
}

.swiper-slide h4 {
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
}

.swiper-slide p {
  font-size: 16px;
  padding: 10px 24px;
  text-align: center;
}

.swiper-pagination {
  top: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--pink);
}

.swiper-button-next {
  top: 10px !important;
  left: calc(1440px / 2 + 400px);
}

.swiper-button-prev {
  top: 10px !important;
  left: calc(1440px / 2 - 430px);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--pink);
  transform: scale(0.4);
}

.active-slide {
  margin-top: 64px;
  opacity: 1;
}

/* Despre section */

#despre {
  padding-top: 150px;
  position: relative;
}

.despre__top {
  display: flex;
  position: relative;
  gap: 132px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}

.despre-vector {
  position: absolute;
  left: -50px;
  bottom: -40px;
  z-index: -20;
}

.despre__banner {
  padding-right: calc(((100vw - 1440px) / 2));
  justify-content: end;
}

.despre__right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
  padding: 80px;
}

/* Programari section */

#programari {
  padding: 140px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--white);
}

.programari__form {
  display: flex;
  gap: 180px;
  padding-top: 80px;
  justify-content: space-between;
}

.programari__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.programari__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}

#confirmationMessage {
  display: none;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form__field {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__field span {
  color: rgb(176, 53, 53);
}

.form__field input,
textarea,
select {
  width: 250px;
  height: 28px;
  border: 1px solid #858c94;
  border-radius: 8px;
  padding-left: 12px;
}

#confirmationMessage {
  text-align: center;
}

/* Testimoniale section */

#testimoniale {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 200px;
  position: relative;
  margin-bottom: 300px;
}

.testimoniale__card {
  box-shadow: 0px 6px 13px -5px var(--pink), 5px 5px 5px 5px rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 25px 70px;
  border-radius: 20px;
  width: 550px;
  height: 300px;
  text-align: center;
  background-color: var(--white);
  border: 1px solid rgb(202, 202, 202);
  /* box-shadow: 0 0 10% 0 #000000; */
}

.testimoniale__card h3 {
  margin-top: 8px;
  font-weight: 600;
}

.testimoniale__card p {
  font-size: 18px;
  font-weight: 300;
}

.testimoniale__card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.testimoniale-vector {
  position: absolute;
  top: -60px;
  z-index: -3;
  transform: scale(0.9);
}

/* Intrebari section */

#intrebari {
  display: flex;
  flex-direction: column;
  gap: 74px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 138px;
}

.intrebari__cards {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 88px 153px;
  gap: 30px;
  background-color: #f7f7fb;
}

.intrebari__card {
  background-color: var(--white);
  box-shadow: 0px 4px 4px -5px var(--pink), 5px 5px 5px 5px rgba(0, 0, 0, 0);
  border-radius: 14px;
  padding: 46px 38px 46px 38px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intrebari__card h3 {
  font-weight: 600;
  font-size: 22px;
}

.intrebari__card p {
  font-size: 18px;
}

/* Footer section */

#contact {
  max-width: 1440px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px -5px var(--pink), 15px 5px 5px 5px rgba(0, 0, 0, 0),
    0px -4px 4px -5px var(--pink);

  padding: 65px 166px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.footer__img {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer-logo {
  width: 50px;
}

.footer-signature {
  width: 250px;
  margin-top: 18px;
}

.footer__contact h4 {
  color: var(--pink);
  font-size: 20px;
  font-weight: 600;
}

.footer__phone,
.footer__email {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__phone img,
.footer__email img {
  width: 25px;
}

.footer__email a {
  font-size: 20px;
}

.footer__links {
  align-self: flex-end;
}

.footer__links ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.footer__links ul li a:hover {
  color: var(--pink);
  transition: all 0.3s ease-out;
}

.footer__program {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  align-self: flex-end;
}

.footer__program h4 {
  font-weight: 600;
}

.footer__program p {
  font-size: 16px;
}

.footer__trademark {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.footer__trademark p {
  color: gray;
  font-size: 16px;
}

/* Mobile styles */

.nav-logo-container {
  display: flex;
  align-items: center;
}

.nav-logo,
.nav-signature {
  max-height: 50px;
}

.nav__links__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__links__list li {
  margin-left: 2rem;
}

.nav__links__list a {
  text-decoration: none;
  color: #000;
}

.hamburger-menu {
  display: none;
}

.close-menu-icon {
  display: none;
}

@media (max-width: 1100px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }

  header {
    padding: 1rem;
  }

  nav {
    position: absolute;
    background-color: var(--white);
    width: 100vw;
    left: 0;
    top: 80px;
  }

  .nav__links__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    gap: 16px;
    z-index: 99;
    padding: 20px 0;
    box-shadow: 0px 6px 13px -5px var(--pink), 5px 5px 5px 5px rgba(0, 0, 0, 0);
  }

  .nav__links__list li {
    text-align: center;
    padding: 0.5rem 0;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu-icon,
  .close-menu-icon {
    background: none;
    border: none;
    cursor: pointer;
  }

  /* Hero section */

  .hero__top {
    flex-direction: column;
    padding: 32px 16px;
    justify-content: center;
  }

  .hero__left {
    align-items: center;
    gap: 16px;
  }

  #hero h1 {
    font-size: 40px;
  }

  .btn {
    font-size: 16px;
  }

  #hero h2 {
    padding: 0 30px;
    font-size: 28px;
  }

  .hero__left p {
    font-size: 18px;
    text-align: center;
    padding: 0 30px;
  }

  .hero__right {
    margin-top: -200px;
    position: relative;
    display: flex;
  }

  .hero__banner {
    bottom: 145px;
    z-index: 60;
    gap: 28px;
    justify-content: center;
  }

  .hero__banner__el {
    padding: 0;
    border: 0;
    /* padding-right: 10px; */
  }

  .hero__banner__el h3 {
    font-size: 20px;
  }

  .hero__banner p {
    font-size: 16px;
  }

  .hero__flower {
    transform: scale(0.5);
    left: 0;
    top: 0;
  }

  .hero__lady {
    transform: scale(0.5);
  }

  h2 {
    font-size: 28px;
  }

  #servicii {
    margin-top: -86px;
    padding-top: 0;
  }

  .servicii__subtitle {
    padding: 16px 24px;
  }

  .carousel {
    padding-top: 0;
  }

  .carousel-inner {
    justify-content: center;
  }

  .carousel-item {
    display: none;
    width: 300px;
    padding: 0 16px 16px 16px;
  }

  .display {
    display: flex;
  }

  .carousel-item img {
    width: 300px;
  }

  .carousel-item h4 {
    font-size: 20px;
  }

  .carousel-inner p {
    font-size: 16px;
  }

  #despre {
    padding-top: 64px;
  }

  .despre__top {
    flex-direction: column-reverse;
    gap: 0;
  }

  .despre__right {
    padding: 0 24px;
  }

  .despre__left {
    transform: scale(0.6);
    margin-top: -100px;
    margin-left: -50px;
  }

  .despre-vector {
    transform: scale(0.9);
  }

  .despre__banner {
    bottom: 60px;
  }

  #programari {
    padding: 30px 24px;
    margin-top: -30px;
  }

  .programari__right {
    align-items: center;
  }

  .programari__form {
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
    gap: 40px;
  }

  .form__field input,
  textarea {
    width: 250px;
    height: 40px;
    font-size: 16px;
  }

  #form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form__field {
    flex-direction: column;
    align-items: start;
    width: auto;
  }

  #confirmationMessage {
    display: none;
    position: fixed;
    top: 50%;
    width: 280px;
    background-color: var(--white);
    padding: 30px;
    box-shadow: 0px 2px 8px -5px var(--pink), 2px 2px 2px 2px rgba(0, 0, 0, 0);
  }

  .close-form {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
  }

  .close-form:hover {
    color: var(--pink);
  }

  #confirmationMessage.visible {
    display: block;
  }

  #testimoniale {
    padding-top: 64px;
    gap: 64px;
    margin-bottom: 138px;
  }

  .testimoniale-vector {
    top: -80px;
    transform: scale(0.8);
  }

  .testimoniale__cards {
    margin-top: 60px;
  }

  .testimoniale__card {
    width: 300px;
    height: auto;
    padding: 25px;
  }

  #intrebari {
    gap: 32px;
    margin-bottom: 64px;
  }

  .intrebari__cards {
    padding: 32px;
  }

  .intrebari__card {
    padding: 32px;
  }

  .intrebari__card h3 {
    font-size: 20px;
  }

  .intrebari__card p {
    font-size: 16px;
  }

  .footer {
    flex-direction: column;
    padding: 16px;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  .footer__img {
    transform: scale(0.8);
  }

  .footer__contact {
    align-items: center;
    justify-content: center;
  }

  .footer__contact h4 {
    font-size: 18px;
    text-align: center;
  }

  .footer__email a {
    font-size: 16px;
  }

  .footer__links {
    align-self: center;
  }

  .footer__links ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 64px;
    grid-row-gap: 16px;
    text-align: center;
  }

  .footer__program {
    align-self: center;
    text-align: center;
  }
}
